/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; font-size: 14px; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* Font size scale */

p { font-size: 1em; }
h4 { font-size: 1em; font-weight: bold; }
h3 { font-size: 1.4em; }
h2 { font-size: 2.0em; }
h1 { font-size: 2.75em; }

/* Layout */

body {
    text-align: center;
}

header {
    padding: 1em;
}

header h2 {
    padding: 0.5em 0;
}

#wrapper {
    margin: 0 auto;
    width: 48em;
    padding: 1em;
    text-align: left;
}

#about {
    width: 32em; /* 48-15-1 */
}

#wrapper * h3 {
    padding-bottom: 0.5em;
}

#wrapper * p, ul li {
    padding-bottom: 0.25em;
}

footer {
    padding: 2em 0 1em;
    text-align: center;
}

/* Colors */

body { background-color: #666; }
header { background-color: #234; color: #fff; }
#wrapper { background-color: #fff; border-radius: 0 0 1em 1em; }

/* Float */

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
